.xyz {
    border: 3px solid black;
    margin: 1rem;
    padding: 4rem 6rem;
    text-align: center;
  }
  .abc{
    display: inline-block;
    border: 3px solid rgb(184, 127, 238);
    padding: 2rem 8rem;
    vertical-align: middle;
    border-radius: 10px;
}
